# Retrieving Stock Market Data in Python | Using pandas-datareader

**We will be using pandas_datareader to import financial data.
Link: https://pydata.github.io/pandas-datareader/index.html**

pandas_datareader has access to the following data files (under the "Data Readers" tab in the above link):
- AlphaVantage
- Federal Reserve Economic Data (FRED)
- Fama-French Data (Ken French's Data Library)
- Bank of Canada
- Econdb
- Enigma
- Eurostat
- The Investors Exchange (IEX)
- Moscow Exchange (MOEX)
- NASDAQ
- Naver Finance
- Organisation for Economic Co-operation and Development (OECD)
- Quandl
- Stooq.com
- Tiingo
- Thrift Savings Plan (TSP)
- World Bank
- Yahoo Finance

In [1]:
import datetime as dt
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

### Step 1: Select date range for stock analysis

In [2]:
end = dt.datetime.now()
# Going from the end date minus 5000 days
start = end - dt.timedelta(days=5000)
# or alternatively if you want the data to start at a specific date
# start = dt.datetime(2000,1,1)
start, end

(datetime.datetime(2010, 12, 28, 0, 53, 14, 28842),
 datetime.datetime(2024, 9, 5, 0, 53, 14, 28842))

### Step 2: Select stocks of interest

In [3]:
stocks = ['AMZN', 'AAPL', 'NKE', 'PG']
stocks

['AMZN', 'AAPL', 'NKE', 'PG']

### Step 3: Call the Pandas_Datareader DataReader module:
Two ways of doing this:
1. pdr.DataReader(stocks, 'yahoo', start, end)
2. pdr.get_data_yahoo(stocks, start, end)

In [4]:
import yfinance as yf
yf.pdr_override()
#df = pdr.DataReader(stocks, 'yahoo', start, end)
df = pdr.get_data_yahoo(stocks, start, end)
df.head()

[*********************100%%**********************]  4 of 4 completed

Price      Adj Close                                    Close          \
Ticker          AAPL    AMZN        NKE         PG       AAPL    AMZN
Date
2010-12-28  9.816120  9.0545  18.301102  43.317841  11.623929  9.0545
2010-12-29  9.810693  9.1685  18.076387  43.077019  11.617500  9.1685
2010-12-30  9.761528  9.1375  18.180264  42.996765  11.559286  9.1375
2010-12-31  9.728355  9.0000  18.108191  43.030216  11.520000  9.0000
2011-01-03  9.939778  9.2110  18.250223  43.324532  11.770357  9.2110

Price                                  High          ...        Low  \
Ticker            NKE         PG       AAPL    AMZN  ...        NKE
Date                                                 ...
2010-12-28  21.582500  64.760002  11.666429  9.1385  ...  21.527500
2010-12-29  21.317499  64.400002  11.658929  9.2175  ...  21.312500
2010-12-30  21.440001  64.279999  11.625357  9.2275  ...  21.280001
2010-12-31  21.355000  64.330002  11.552857  9.1150  ...  21.280001
2011-01-03  21.522499  64.769997  11.795000  9.3000  ...  21.315001

Price                       Open                                   Volume  \
Ticker             PG       AAPL    AMZN        NKE         PG       AAPL
Date
2010-12-28  64.400002  11.639643  9.1050  21.559999  64.800003  175924000
2010-12-29  64.349998  11.650714  9.0900  21.635000  64.720001  163139200
2010-12-30  64.059998  11.624286  9.1960  21.325001  64.480003  157494400
2010-12-31  64.010002  11.533929  9.0980  21.350000  64.080002  193508000
2011-01-03  64.000000  11.630000  9.0685  21.457500  64.389999  445138400

Price
Ticker           AMZN      NKE        PG
Date
2010-12-28   39500000  8459600   4648400
2010-12-29   62402000  6960400   4916400
2010-12-30   39224000  5910000   3819900
2010-12-31   69038000  5796000   5245600
2011-01-03  106628000  8566400  10004000

[5 rows x 24 columns]