# Retrieving Stock Market Data in Python | Using yfinance

In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

In [3]:
# Retrieve data for the specified stock
stock = yf.Ticker("AAPL")
data = stock.history(start="2023-01-01", end="2024-01-01")
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-03 00:00:00-05:00,129.066078,129.680297,123.013009,123.904625,112117500,0.0,0.0
2023-01-04 00:00:00-05:00,125.707670,127.461182,123.914537,125.182610,89113600,0.0,0.0
2023-01-05 00:00:00-05:00,125.945435,126.579471,123.597523,123.855095,80962700,0.0,0.0
2023-01-06 00:00:00-05:00,124.835905,129.076017,123.726338,128.412262,87754700,0.0,0.0
2023-01-09 00:00:00-05:00,129.254327,132.166936,128.679730,128.937302,70790800,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,194.442147,194.671289,192.240510,192.868134,37122800,0.0,0.0
2023-12-26 00:00:00-05:00,192.878102,193.157042,192.101051,192.320221,28919300,0.0,0.0
2023-12-27 00:00:00-05:00,191.762337,192.768513,190.367620,192.419830,48087700,0.0,0.0
2023-12-28 00:00:00-05:00,193.406101,193.924140,192.439767,192.848221,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,193.167001,193.665111,191.005206,191.802185,42628800,0.0,0.0

### Step 1: Specify tickers of interest

In [6]:
tickers = ['SPY', 'BND', 'GLD', 'VTI', 'QQQ']
tickers

['SPY', 'BND', 'GLD', 'VTI', 'QQQ']

### Step 2: Set the end date to today and start date to 2 years ago

In [4]:
end_date = datetime.today()
start_date = end_date - timedelta(days = 2*365)
print(start_date)
print(end_date)

2022-09-06 01:29:53.837711
2024-09-05 01:29:53.837711

### Step 3: Download Close Prices for tickers

In [7]:
close_df = pd.DataFrame()

for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date)
    close_df[ticker] = data['Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [8]:
print(close_df)

                   SPY        BND         GLD         VTI         QQQ
Date
2022-09-06  390.760010  73.559998  158.330002  195.910004  293.049988
2022-09-07  397.779999  74.089996  159.940002  199.529999  298.970001
2022-09-08  400.380005  73.860001  158.979996  201.110001  300.519989
2022-09-09  406.600006  73.830002  159.820007  204.449997  307.089996
2022-09-12  410.970001  73.739998  160.630005  206.649994  310.739990
...                ...        ...         ...         ...         ...
2024-08-28  558.299988  74.620003  231.750000  275.450012  471.350006
2024-08-29  558.349976  74.510002  232.949997  275.720001  470.660004
2024-08-30  563.679993  74.360001  231.289993  278.380005  476.269989
2024-09-03  552.080017  74.449997  230.289993  272.390015  461.809998
2024-09-04  550.950012  74.779999  230.429993  271.779999  460.609985

[502 rows x 5 columns]